<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>

    <h2>Authors:</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">Id</td>
            <td th:text="${author.firstName}">First name</td>
            <td th:text="${author.lastName}">Last name</td>
        </tr>
    </table>
</body>
</html>